// Light theme
$outline-bg-light: #F6F6F6;
$icon-fg-light: #F0EFF1;
$orange-light: #C27D1A;
$purple-light: #652D90;

// Dark theme
$outline-bg-dark: #2d2d30;
$icon-fg-dark: #2b282e;
$orange-dark: #e8ab53;
$purple-dark: #b180d7;