$icon-size: 256px;

@font-face {
	font-family: 'monaco';
	src:url('source/out/monaco.eot');
	src:url('source/out/monaco.eot#iefix') format('embedded-opentype'),
		url('source/out/monaco.ttf') format('truetype'),
		url('source/out/monaco.woff') format('woff');		
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	speak: none;
}

.icon {
	font-family: 'monaco';
	text-transform: none;
	line-height: 1;

	
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	/* child elements absolute */
	position: relative;
	/* remove inline-block white-space */
	// margin: 0 -.16em 0 0; 
	 -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	box-sizing: border-box; 
	height: $icon-size; 
	width: $icon-size; 
	font-size: $icon-size;
}

.icon:before,
.icon:after,
.icon span:before,
.icon span:after { 
  display: block;
  position: absolute;
  white-space: normal;
  text-indent: 0;
  font-size: $icon-size;
  font-family: 'monaco';
  font-weight: 400 !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
          font-smoothing: antialiased;
  /* screenreaders */
  speak: none;
}